# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.tfvars
!terraform.tfvars.example
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db
